mat-card {
    max-width: 400px;
    text-align: center;
}

mat-form-field {
    width: 300px;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}